
HW/HW-01/summary_df_sorted.csv
.Rproj.user
HW/.RData
HW/.Rhistory
HW/HW-01/filename.csv
HW/HW-01/output.csv
HW/HW-02/Homework2_LR.pdf
HW/HW-02/insurance_t_bin.csv
HW/HW-02/insurance_v_bin.csv
HW/HW.Rproj
HW/HW-03/Homework3_LR.pdf
HW/HW-03/insurance_t_bin.csv
HW/HW-03/insurance_v_bin.csv
